@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Industry';
    src: url('/fonts/industry-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  /*
   * Fixes
   */
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  img {
    transition: all 0.3s;
  }

  /*
   * Typography
   */
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-industry font-semibold uppercase text-white;
  }

  h1 {
    @apply text-5xl leading-[1.08] text-[#F8F8F9] md:text-6.25xl;
  }

  h2 {
    @apply text-3xl leading-tight md:text-5xl md:leading-[1.08];
  }

  h3 {
    @apply text-1.5xl leading-snug md:text-3xl md:leading-tight;
  }

  h4 {
    @apply text-1.5xl leading-snug md:text-2.5xl md:leading-tight;
  }

  h5 {
    @apply text-base leading-snug md:text-1.5xl md:leading-tight;
  }

  /*
   * Scrollbar Dialog
   */
  .dialog--scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .dialog--scrollbar::-webkit-scrollbar-thumb {
    border-top: 24px solid rgba(0, 0, 0, 0);
    border-bottom: 24px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    background-color: #4a5465;
  }
}
