@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Industry';
    src: url('/fonts/industry-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  /*
   * Scrollbar Dialog
   */
  .dialog--scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .dialog--scrollbar::-webkit-scrollbar-thumb {
    border-top: 24px solid rgba(0, 0, 0, 0);
    border-bottom: 24px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    background-color: #4a5465;
  }
}
